@use "/src/scss/color-palette.scss" as *;

:root {
  font-family: Roboto;
}

.page-title, .button {
  user-select: none;
}

html, body, #app {
  height: 100%;
}

div {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.page-title {
  font-size: 19px;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  color: $colorGray800;
}

.sub-title {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  height: 41px;
  font-size: 11px;
  color: $colorGray600;
  font-weight: 600;
}
