.canvas-element {
  position: absolute;
  cursor: move;
  user-select: none;
  min-width: 50px;
  min-height: 30px;

  &.selected {
    outline: 2px solid #4a90d9;
  }

  &.state-dragging-in-canvas {
    border: 1px solid black;
  }

  .resize-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #4a90d9;
    border: 1px solid white;
    z-index: 10;

    &.top-left {
      top: -4px;
      left: -4px;
      cursor: nw-resize;
    }

    &.top-right {
      top: -4px;
      right: -4px;
      cursor: ne-resize;
    }

    &.bottom-left {
      bottom: -4px;
      left: -4px;
      cursor: sw-resize;
    }

    &.bottom-right {
      bottom: -4px;
      right: -4px;
      cursor: se-resize;
    }
  }
}

.canvas-element-content {
  min-width: 50px;
  min-height: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;

  &.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:not(.image) {
    padding: 8px 16px;
  }
}