@use "/src/scss/color-palette.scss" as *;

.page.template {
  height: 100%;
  .top-bar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $colorGray200;

    .top-bar-left {
      padding: 0 23px;
    }

    .top-bar-right {
      gap: 8px;
    }
  }

  >.center {
    flex-direction: row;
    flex-grow: 1;

    .left-bar {
      padding: 0 16px;
      width: 200px;
      border-right: 1px solid $colorGray200;

      .elements-container {
        gap: 8px;
      }

      .button.style2 {
        width: 100%;
      }
    }

    .template-canvas-container {
      flex-grow: 1;
      background-color: $colorGray150;
      justify-content: center;
      align-items: center;
    }

    .right-properties {
      border-left: 1px solid $colorGray200;
      width: 279.5px;
    }
  }

  .bottom-bar {
    height: 58px;
  }

  .draggable-element {
    cursor: grab;
    user-select: none;

    &:active {
      cursor: grabbing;
    }
  }

  .drag-preview {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
  }
}

