.template-canvas {
  background-color: white;
  width: 400px;
  height: 500px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.canvas-element-wrapper {
  position: absolute;
}